
.page--home {
  .primary-nav {
    display: none;
  }
}

.section--map {

}

.map__text {
  h2 {
    margin-bottom: 8px;
  }

  h3 {
    margin-bottom: 36px;
  }
}

.map__text {
  .icon--waves {
    width: 60px;
    margin-right: 10px;
  }
}

.map__image {
  margin: auto;
  margin-top: 14px;
  width: 320px;
}

.section--columns {
  background-color: var(--green);
  color: var(--sage);
  overflow: hidden;
  position: relative;

  h3 {
    margin-bottom: 18px;
  }
}

.columns__column {
  margin-bottom: 24px;
}

.columns__column-image {
  width: 100px;
  height: 80px;
  margin-bottom: 12px;
  
  img {
    height: 100%;
    object-fit: contain;
    object-position: bottom left;
  }
}

.columns__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background--thick-wave.png');
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  pointer-events: none;
}

@media only screen and (min-width: 767px) {
  .map__text {
    grid-column: 1 / span 6;
    padding-top: 32px;
  
    .icon--waves {
      width: 90px;
      margin-right: 18px;
    }

    h2 {
      margin-bottom: 22px;
    }

    h3 {
      margin-bottom: 48px;
    }
  }

  .map__image {
    grid-column: 7 / span 5;
    margin: none;
    width: auto;
  }

  .columns__column {
    h3 {
      margin-bottom: 38px;
    }
  }

  .columns__column:first-of-type {
    grid-column: 1 / span 5;
  }

  .columns__column:last-of-type {
    grid-column: 7 / span 5;
  }
}