<footer id="footer">
  <div class="section__inner section__inner--grid">
    <div class="footer__contact-btn">
      <a class="btn btn--primary" href="/home">Home</a>
      <a class="btn btn--primary" href="/producers">Producers</a>
      <a class="btn btn--primary" href="/contact">Contact</a>
    </div>
    <div class="footer__contact-info">
      <p class="h2">Say Hi or Follow Us</p>
      <a href="mailto:jake@seapriestselections.com" rel="noopener"><img class="icon" src="/icon--mail.svg">Send us an Email</p>
      <a href="https://www.instagram.com/seapriestselections/"><img class="icon" src="/icon--instagram.svg">@seapriestselections</p>
    </div>
  </div>
</footer>