<!doctype html>
<html lang="en">
  {{> 'head'}}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R6SK1NNQ9D"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R6SK1NNQ9D');
  </script>
  <body class="page--{{page.slug}}">
    {{> 'primary-nav'}}
    <div id="main">
      {{> @partial-block }}
      {{> 'footer'}}
    </div>
    <script type="module" src='{{resolve-from-root "src/scripts/main.js"}}'></script>
  </body>
</html>
