@import './fonts.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --sage: #D6DECB;
  --brown: #372412;
  --black: #1E1C1A;
  --green: #4E5539;
  --vh-unit: 1vh;

  /* color-scheme: light dark; */
  color: var(--brown);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  align-self: flex-start;
  text-transform: uppercase;
  font-size: 20px;
  font-family: var(--font-tuppence);
  letter-spacing: 0.2em;
  border-bottom: 1px solid currentColor;
  text-align: center;
  padding: 8px 0px;
}

.btn--secondary {
  color: #FAFAFA;
  background-color: var(--green);
  padding: 9px 17px 13px 17px;
  border: 2px solid var(--green);
  text-align: center;
  margin: auto;
  cursor: pointer;
  transition: background-color 150ms ease, color 150ms ease;
}

.btn--secondary:hover {
  background-color: var(--sage);
  color: var(--green);
}

.btn:focus {
  outline-color: var(--green);
}

img {
  width: 100%;
}

#main {
  /* https://stackoverflow.com/questions/4011113/can-you-add-noise-to-a-css-gradient */
  position: relative;
  background-color: var(--sage);
}

#main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/texture.png');
  mix-blend-mode: multiply;
  pointer-events: none;
}

.section__inner {
  width: 100%;
  max-width: 1440px;
  padding: 64px 14px;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 14px;
  display: flex;
  flex-wrap: wrap;
  background-color: #FAFAFA;
  background-image: url('/header--waves.jpg');
  position: relative;
  background-size: cover;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1.1) contrast(0.8);
    z-index: 0;
  }
}

.header::before {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #190f03;
  z-index: 5;
  mix-blend-mode: screen;
  pointer-events: none;
  /* display: none; */
}

.header::after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-image: url('/noise-texture-tinified.png');
  opacity: 0.2;
  animation: animateGrain 8s steps(10) infinite;
  mix-blend-mode: color-burn;
  pointer-events: none;
  z-index: 15;
}
.header__inner {
  position: relative;
}

.header__back-arrow {
  display: block;
  margin-top: 6px;
  width: 40px;
}

.header__name {
  font-family: var(--font-tuppence);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.03em;
}

.header__name--sp {
  display: block;
  width: 100%;
}

.header__name--selections {
  font-family: var(--font-montserrat);
  color: transparent;
  -webkit-text-stroke: 1px var(--black);
  text-stroke: 1px var(--black);
  font-family: var(--font-montserrat);
  font-weight: 600;
}

.header__name--japanese {
  display: block;
  width: 100%;
  font-size: 20.7px;
  color: transparent;
  background-image: url('/name-japanese-navigation.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

.hero {
  width: 100%;
  height: calc(90 * var(--vh-unit));
  overflow: hidden;
  /* position: sticky; */
  position: relative;
  top: 0px;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9) contrast(1.2);
  }

  svg {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    fill: #2B241A;
  }
}

.hero__text {
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.hero__name {
  font-size: inherit;
  text-transform: uppercase;
  font-style: initial;
  line-height: 0.8em;
  font-size: 14vw;
  line-height: 1em;
  color: var(--black);
  margin: 0;
  letter-spacing: 0.01em;
}

.hero__selections {
  color: transparent;
  -webkit-text-stroke: 2px var(--black);
  text-stroke: 2px var(--black);
  font-family: var(--font-montserrat);
  font-weight: 600;
}

.hero__name-japanese {
  color: transparent;
  text-align: right;
  background-image: url('/name-japanese-mobile.png');  
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  font-size: inherit;
  font-size: 14vw;
  line-height: 1em;
  letter-spacing: 0.01em;
  display: inline-block;
  margin: 0;
  margin-left: auto;
}

.hero::before {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #190f03;
  z-index: 15;
  mix-blend-mode: screen;
  pointer-events: none;
}

.hero::after {
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background-image: url('/noise-texture-tinified.png');
  opacity: 0.2;
  animation: animateGrain 8s steps(10) infinite;
  mix-blend-mode: color-burn;
  pointer-events: none;
  z-index: 15;
}

@keyframes animateGrain{
  0%, 100% { transform:translate(0, 0) }
  10% {
    transform:translate(-5%,-10%)
  }
  20% {
    transform:translate(-15%,-20%)
  }
  30% {
    transform:translate(-5%,-10%)
  }
  40% {
    transform:translate(-15%,-20%)
  }
  50% {
    transform:translate(-5%,-10%)
  }
  60% {
    transform:translate(-15%,-20%)
  }
  70% {
    transform:translate(-5%,-10%)
  }
  80% {
    transform:translate(-15%,-20%)
  }
  90% {
    transform:translate(-5%,-10%)
  }
  100% {
    transform:translate(-15%,-20%)
  }
}

.section--map {

}

.map__text {
  h2 {
    margin-bottom: 8px;
  }

  h3 {
    margin-bottom: 36px;
  }
}

.map__text {
  .icon--waves {
    width: 60px;
    margin-right: 10px;
  }
}

.map__image {
  margin: auto;
  margin-top: 14px;
  width: 320px;
}

.section--columns {
  background-color: var(--green);
  color: var(--sage);
  overflow: hidden;
  position: relative;

  h3 {
    margin-bottom: 18px;
  }
}

.columns__column {
  margin-bottom: 24px;
}

.columns__column-image {
  width: 100px;
  height: 80px;
  margin-bottom: 12px;
  
  img {
    height: 100%;
    object-fit: contain;
    object-position: bottom left;
  }
}

.columns__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background--thick-wave.png');
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.section--contact {
  overflow: hidden;
  position: relative;
  padding-top: 20px;
}

.section--contact::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background--thick-wave.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right bottom;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.contact__content {
  width: 100%;

  h1 {
    margin-bottom: 12px;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #abb4a9 inset !important;
}

#contact-form {
  margin-top: 32px;
  position: relative;

  input, textarea {
    display: block;
    margin-top: 12p;
    margin-bottom: 24px;
    width: 100%;
    padding: 12px 8px;
    color: var(--brown);
    border: none;
    border-radius: 2px;
    background-color: #cdd0c7;
    outline-color: var(--green);
    font-size: inherit;
    font-family: inherit;
  }

  textarea {
    min-height: 180px;
  }

  button[type='submit'] {
    background-color: var(--green);
    color: #FAFAFA;
    padding: 9px 17px 13px 17px;
    border: 2px solid var(--green);
    text-align: center;
    margin: auto;
    cursor: pointer;
    transition: background-color 150ms ease, color 150ms ease;
  }

  button[type='submit']:hover {
    background-color: var(--sage);
    color: var(--green);
  }

  .special-field {
    pointer-events: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }

  .form-message__wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: auto;

    > * {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      opacity: 0;
      transition: opacity 333ms ease;
    }
  }
}

#footer {
  overflow: hidden;
  background-color: var(--black);
  color: var(--sage);
  background-image: url('/footer-waves.svg');
  background-position: bottom left;
  background-repeat: repeat-x;
  padding-bottom: 64px;
  text-align: center;
}

.footer__contact-btn {
  margin-bottom: 48px;
}

.footer__contact-info {
  .h2 {
    margin-bottom: 24px;
  }

  a {
    display: block;
    color: var(--sage);
    text-decoration: none;
    margin-top: 12px;
  }

  .icon {
    width: 22px;
    margin-right: 12px;
    position: relative;
    bottom: -4px;
  }
}

@media only screen and (min-width: 767px) {
  .header {
    padding: 12px 36px;
  }

  .header__inner {
    width: 100%;
    display: flex;
  }

  .header__back-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    margin-top: 8px;
  }

  .header__name {
    width: 385px;
    align-items: center;
    margin: auto;
    font-size: 28px;
  }

  .header__name--japanese {
    
    /* background-image: url('/name-japanese-mobile.png'); */
  }

  .section__inner {
    padding: 84px 36px;
  }

  .section__inner--grid {
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    /* align-items: center; */
    gap: 24px;
  }
  
  .hero {
    height: calc(80 * var(--vh-unit));
  }

  .hero__text {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 45px;
  }

  .hero__name {
    font-size: 6.9vw;
  }

  .hero__name-japanese {
    background-image: url('/name-japanese.png');  
    font-size: 9vw;
  }

  .map__text {
    grid-column: 1 / span 6;
    padding-top: 32px;
  
    .icon--waves {
      width: 90px;
      margin-right: 18px;
    }

    h2 {
      margin-bottom: 22px;
    }

    h3 {
      margin-bottom: 48px;
    }
  }

  .map__image {
    grid-column: 7 / span 5;
    margin: none;
    width: auto;
  }

  .columns__column {
    h3 {
      margin-bottom: 38px;
    }
  }

  .columns__column:first-of-type {
    grid-column: 1 / span 5;
  }

  .columns__column:last-of-type {
    grid-column: 7 / span 5;
  }

  .section--contact {
    padding-top: 60px;
  }

  .contact__content {
    grid-column: 1 / span 9;
  }
  
  #footer {
    background-size: 50%;
    background-position: left 101%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 110px;
  }

  .footer__contact-btn {
    grid-column: 3 / span 2;
  }

  .footer__contact-info {
    grid-column: 6 / span 5;

    .h2 {
      margin-bottom: 48px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .section__inner {
    padding: 110px 42px;
  }

  .hero {
    height: calc(80 * var(--vh-unit));
  }

  .hero__name {
    font-size: 5.7vw;
  }

  .hero__name-japanese {
    background-image: url('/name-japanese.png');  
    font-size: 5.7vw;
  }

  .section--contact {
    padding-top: 70px;
  }

  .contact__content {
    grid-column: 1 / span 7;
  }
}